.aboutInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.aboutInfo img {
    border-radius: 50%; 
    height: 250px;
}