/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  text-align: center;
}

.topnav a,
.topnav a:visited {
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: large;
  font-weight: 100;
  display: inline-block;
  width: 100px;
  height: 50px;

}

.topnav a.active,
.topnav a:hover,
.topnav a:active {
  color: lightskyblue;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}