/* Container that holds all the items on the page */
.contact-container {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-inline-end: 2%;
    margin-inline-start: 2%;
    align-items: baseline;
  }
  
  /* Individual items on the page */
  .contact-item {
    flex: 1 1 0px;
    width: 0;
  }
  
  /* Form style*/
  .contact-container form {
    list-style-type: none;
  }
  
  /* Heading style */
  .contact-container h1 {
    color: rgb(233, 144, 172);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  /* Form Input boxes style */
  .contact-container input {
    width: 630px;
    height: 55px;
    border-radius: 5px;
    border: 2px rgba(231, 122, 155, 0.675) solid;
    margin-bottom: 20px;
    font-size: large;
    padding-inline: 10px;
  }

  /* Placeholder text style */
  .contact-container ::placeholder {
    color: rgb(214, 158, 174);
  }
  
  /* Message box style */
  .contact-container textarea {
    width: 630px;
    height: 200px;
    border-radius: 5px;
    border: 2px rgba(231, 122, 155, 0.675) solid;
    margin-bottom: 10px;
    resize: vertical;
    font-size: large;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Dropdown menu style */
  .contact-container select {
    width: 654px;
    height: 59px;
    border-radius: 5px;
    border: 2px rgba(231, 122, 155, 0.675) solid;
    margin-bottom: 20px;
    font-size: large;
    padding: 10px;
  } 
  
  /* Submit Button style */
  .contact-container button {
    width: 654px;
    height: 55px;
    border-radius: 5px;
    border: 2px rgb(211, 146, 166, 0.428) solid;
    margin-bottom: 10px;
    background-color: rgb(232, 166, 180);
    color: white;
    font-size: 20px;
    font-family: 'arial', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* Hover effect for submit button */
  .contact-container button:hover, .contact-items button:active{
    background-color: rgb(230, 120, 139);
  }
  
  /* Labels style */
  .contact-container label{
    color: rgb(211, 146, 166);
    font-size: 20px;
    font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  /* Address Paragraph style */
  .contact-item p {
    color: rgb(149, 148, 148);
    font-size: 20px;
    font-family: 'arial', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 20px;
    margin-left: 20%;
  }
  