#all-pets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5%;
    margin-top: 5%;
    text-align: center;
}

.pets img {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    object-fit: cover;
    align-items: center;
}

.pets h1 {
    text-align: center;
    font-size: x-large;
}

.pets h2 {
    font-size: large;
    text-align: center;
    font-weight: lighter;
    font-family: 'Trebuchet MS', sans-serif;
}

.pets p {
    font-size: larger;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-inline: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 20%;
    background-color: rgb(168, 168, 168);
    border: 2.5px rgb(168, 168, 168) solid;
    color: white;
}

.pets p:hover,
.pets p:active {
    border: 2.5px rgb(168, 168, 168) solid;
    color: rgb(168, 168, 168);
    background-color: white;
}